body{
    /* Configuramos el color del fondo*/
    background: #F5F0E6;
    /* Configuramos la fuente principal a Roboto y en caso de no encontrarse a sans-serif*/
    font-family: 'Roboto', sans-serif;
    /* Quitar el margen y padding por defecto */
    margin: 0;
    padding: 0%;
}

#logo{
    border-radius: 50%; /* Se ajusta el redondeado del logo*/
    height: 35%; /* la altura de la imagen*/
    width: 5%; /* el ancho de la imagen */
}


#nav{ /* El Estilo del menú de navegación */
    background-color: #165A84;
    width: 100%;
    height: 200px;
    border: none;
    padding: 1%;
}

#homeButtom{
    background-color: #165A84;
    /*border: none;*/
    margin: 1%;
    border-radius: 50%;

}
#homeButtomImage{

    height: 75%;
    width: 45%;
}
.mainButtons{
    height: 20%;
    width: 10%;
    /*border: none;*/
    border-radius: 20%;
    margin: 1%;
    background-color: #165A84;
 
}

footer{
    background-color: gray ;
    width: 100%;
    height: 200px;
    margin-top: 100%;

}

